
:root{
    --black-color: #000000;
    --white-color: #ffffff;
    --gray-color: #d9d9d9;
    --main-color: #ff6347;
    --tomato-linear-gradient: linear-gradient(90deg, rgba(255, 99, 71,0.4) 0%, rgba(235, 77, 49,0.4) 100%);
}
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.firstsection{
    border: 2px solid #ff6347;
    display: flex;
    height: 460px;
}
.firstsection-leftdiv{
    border: 2px solid black;
    height: 100%;
    width: 50%;
    padding: 20px;
  
}
.line{
    background: var(--main-color);
    height: 16px;
    width: 224px;
}
.logotext span{
    color: var(--main-color);
}
.logotext{
    margin: 0 0 20px 0;
}
.firstsection-leftdiv p{
    margin: 20px 0 20px 0;
}




.firstsection-rightdiv{
    border: 2px solid purple;
    height: 100%;
    width: 50%;
    background: var(--tomato-linear-gradient), url(images/image1.jpg);
    background-size: cover;
    background-position: bottom left; 




    /* background: url(images/dots.png); */
    /* background-repeat: no-repeat; */
    /* background-position: bottom left; */
    /* background-size: contain; */
}
.link-holder{
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    color: var(--white-color);
    text-transform: uppercase;
    padding: 20px;
}

/* Second section starts here */
.secondsection{
    border: 2px solid tomato;
    display: flex;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.secondsection-leftdiv{
    border: 2px solid black;
    width:310px;
    height: 400px;
    padding: 40px 25px;
    background: var(--gray-color);
}
.secondsection-leftdiv p{
    margin: 10px 0;
}
.secondsection-rightdiv{
    border: 2px solid purple;
    width:340px;
    height: 460px;
}
.secondsection-rightdiv img{
    width:100%;
    height: 100%;
}
/* Second section ends here */

/* Third section starts here */
.thirdsection{
    border: 2px solid black;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding: 50px 0;
    background: var(--gray-color);
}
.thirdsection-leftdiv,.thirdsection-rightdiv{
    height: 460px;
    width: 340px;
}

.thirdsection-leftdiv{
    border: 2px solid tomato;
    background: url(images/image3.jpg);
    background-size: cover;
}
.thirdsection-rightdiv{
    border: 2px solid purple;
    background: var(--main-color);
    padding: 40px 25px;
}
.thirdsection-rightdiv p{
    margin: 10px 0;
}
/* Third section ends here */