/* Media queries */

@media screen and (max-width:600px) {
    .firstsection{
        height: 520px;
    }
    .firstsection-leftdiv{
        width: 60%;
    }
    .firstsection-rightdiv{
        width: 40%;
    }

    .link-holder{
        flex-direction: column;
    }
    .link-holder h4{
        margin: 0 0 20px 0;
    }
    .line{
        width: 200px;
    }
    .heading{
        font-size: 25px;
    }
}